@media (max-width: 1920px) {
	#login {
		display: flex;

		#left,
		#right {
			height: 100vh;
			width: 100%;
		}

		#left {
			background-color: var(--royal-blue);
			border-top-right-radius: 200px;
			border-bottom-right-radius: 200px;
			display: flex;
			justify-content: center;
			align-items: center;

			#text-box {
				color: var(--white);
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 10px;

				img {
					width: 60vh;
				}

				h1 {
					font-size: 3rem;
					font-weight: 600;
				}

				a {
					color: var(--white);
					font-weight: 500;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				p {
					width: 500px;
					text-align: center;
				}

				button {
					border: 1px solid var(--white);
					cursor: pointer;
					padding: 5px 0;
					width: 300px;
					border-radius: 10px;
					margin: 0 auto;
					color: var(--white);
					transition: 0.250s cubic-bezier(0.175, 0.885, 0.32, 1.275);

					&:hover {
						background-color: var(--royal-dark);
					}
				}
			}
		}

		#right {
			display: flex;
			justify-content: center;
			align-items: center;

			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				width: 60%;

				h1 {
					font-size: 2rem;
					text-align: center;
					color: var(--white);
					font-weight: 500;
				}

				.text-field {
					display: inherit;
					width: 70%;
					position: relative;
					align-items: center;

					ion-icon {
						color: var(--white);
						position: absolute;
						right: 20px;
						font-size: 1.2rem;
					}

					input {
						width: 100%;
						background-color: var(--royal-gray);
						border-radius: 20px;
						padding: 10px;
						outline: none;
						border: none;
						color: var(--white);
					}
				}

				a {
					color: var(--white);
					font-weight: 500;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				button {
					background: var(--royal-blue);
					width: 70%;
					border-radius: 10px;
					padding: 5px 0;
					color: var(--white);
					cursor: pointer;
				}

				p {
					color: var(--white);
				}

				#options {
					display: inherit;
					width: 70%;
					justify-content: space-around;
					list-style: none;

					li>a {
						display: flex;
						align-items: center;
						justify-content: center;
						background: none;
						border-radius: 100%;
						border: 1px solid white;
						width: 50px;
						height: 50px;

						img {
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
	}

	footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0.174);

		a {
			color: var(--white);
		}
	}
}




@media (max-width: 768px) {
	#login {
		display: flex;
		flex-direction: column;

		#left,
		#right {
			height: 100vh;
			width: 100%;
		}

		#left {
			background-color: var(--royal-blue);
			border-top-right-radius: 200px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 200px;
			display: flex;
			justify-content: center;
			align-items: center;

			#text-box {
				color: var(--white);
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 10px;

				img {
					width: 60vh;
				}

				h1 {
					font-size: 3rem;
					font-weight: 600;
				}

				a {
					color: var(--white);
					font-weight: 500;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				p {
					width: 500px;
					text-align: center;
				}

				button {
					border: 1px solid var(--white);
					cursor: pointer;
					padding: 5px 0;
					width: 300px;
					border-radius: 10px;
					margin: 0 auto;
					color: var(--white);
					transition: 0.250s cubic-bezier(0.175, 0.885, 0.32, 1.275);

					&:hover {
						background-color: var(--royal-dark);
					}
				}
			}
		}

		#right {
			display: flex;
			justify-content: center;
			align-items: center;

			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				width: 80%;

				h1 {
					font-size: 2rem;
					text-align: center;
					color: var(--white);
					font-weight: 500;
				}

				.text-field {
					display: inherit;
					width: 100%;
					position: relative;
					align-items: center;

					ion-icon {
						color: var(--white);
						position: absolute;
						right: 20px;
						font-size: 1.2rem;
					}

					input {
						width: 100%;
						background-color: var(--royal-gray);
						border-radius: 20px;
						padding: 10px;
						outline: none;
						border: none;
						color: var(--white);
					}
				}

				a {
					color: var(--white);
					font-weight: 500;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				button {
					background: var(--royal-blue);
					width: 70%;
					border-radius: 10px;
					padding: 5px 0;
					color: var(--white);
					cursor: pointer;
				}

				p {
					color: var(--white);
				}

				#options {
					display: inherit;
					width: 70%;
					justify-content: space-around;
					list-style: none;

					li>a {
						display: flex;
						align-items: center;
						justify-content: center;
						background: none;
						border-radius: 100%;
						border: 1px solid white;
						width: 50px;
						height: 50px;

						img {
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
	}

	footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0.174);

		a {
			color: var(--white);
		}
	}

}